.chat-info {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 600;
}

.timestamp {
    color: gray;
    font-size: 0.8em;
}

.message-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}