.chat-area {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.message-area {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.close-btn {
    cursor: pointer;
}

