.chat-area {
    background: #ffffff;
    display: flex;
    flex-flow: column;
}

.message-area {
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-flow: column-reverse;
}

.message-box {
    flex: 0 1 30px;
    margin: 0 1em;
    display: flex;
    flex-flow: row;
    gap: 1em;
}

.message-input {
    flex: 1 1 auto;
}

.close-btn {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 0.75em;
}

.message {
    margin: 1em;
    padding: 0.5em;
    display: inline-block;
    max-width: 300px;
    background: lightgray;
    border-radius: 1em;
}

.message-out {
    display: flex;
    justify-content: flex-end;
}