.manager-container {
    height: calc(100vh - 110px);
    flex: 1 1 auto;
    container-type: inline-size;
    container-name: chat-manager;
    contain: content;
    overflow: auto;
}

.chat-manager {
    height: 100%;
    display: grid;
    grid-template-columns: 400px minmax(400px, 1fr);
    grid-template-rows: 100%;
    contain: content;
}

.chat-manager > * {
    grid-row: 1;
}

@container chat-manager (max-width: 900px) {
    .chat-manager {
        display: grid;
        grid-template-columns: auto;
    }

    .chat-list-inner {
        border-right: 0;
    }

    .chat-manager > * {
        grid-row: 1;
        grid-column: 1;
    }
}