.chat-list {
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.chat-list-inner {
    flex: 1 1 auto;
    overflow: auto;
}

.chat-list-inner > div {
    cursor: pointer;
}

.chat-list-inner {
    border-right: lightgray solid 1px;
}